<a routerLink="/">< Voltar </a>

<h1>
  Cadastratro de usuario
</h1>

<form #u="ngForm" id="FormUser" name="FormUser" (submit)= "addNovoUser(u.value)" >
  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="nome" placeholder="Digite o nome" ngModel><br>
  <label for="email">E-mail:</label>
  <input type="email" name="email" id="email"  placeholder="Digite o email" ngModel><br>
  <label for="login">Login:</label>
  <input type="text" name="login" id="login" placeholder="Digite o login" ngModel><br>
  <label for="senha">Senha:</label>
  <input type="text" name="senha" id="senha" placeholder="Digite o Senha" ngModel><br>
  <input type="submit" value="Enviar" >
</form>

<h3 *ngIf ="foiInserido">{{mensagemdeconfirmacao}}</h3>