<a routerLink="/usuario"> + ADD NOVO USUARIO</a>

<H1>usuarios</H1>

<table>
  <thead>
    <th>ID</th>
    <th>NOME</th>
    <th>LOGIN</th>
    <th>E-MAIL</th>
    <th colspan="2">OPÇÕES</th>
  </thead>
  <tbody>
    <tr *ngFor = "let usuario of usuarios">
      <td>{{usuario.id}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.login}}</td>
      <td>{{usuario.email}}</td>
      <td (click)="deletar(usuario.id)"><a >DELETATR</a></td>
      <td [routerLink]="['/ateracao-usuario', usuario.id]"><a >ALTERAR</a></td>
    </tr>
  </tbody>
</table>